

#perRightMargin{
    height:200px;
    width:35%;
}

#padding{
    padding:20px;
}

#topPadding{
    padding-top: 50px;
}
#rightPadding{
    padding-right: 50px;
}
#bottomPadding{
    padding-bottom: 50px;
}
#leftPadding{
    padding-left: 50px;
}

#solidBorder{
    border:10px solid red;
}

body{
   
}
